[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/sytlus"]
	path = bundle/sytlus
	url = https://github.com/wavded/vim-stylus.git
